<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %> <!-- Include head only once -->

<body>
    <div id="wrapper">
        <%- include('../partials/header', { loggedIn, userFirstName }) %> <!-- Pass loggedIn state and userFirstName to the header -->
        <%- include('../partials/navigation', { nav }) %> <!-- Pass navigation once here -->

        <main>
            <%- body %> <!-- Render main body content -->
        </main>

        <%- include('../partials/footer') %> <!-- Include footer once -->
    </div>
</body>
</html>
